{{#each characters}}
<li class="ch-el" data-character-id="{{id}}">
    <img class="character-img" src="{{image}}" alt="{{url}}">
    <div class="ch-content">
        <h3 class="ch-title">{{name}}</h3>
        <p>Origin:<span>{{origin.name}}</span></p>
        <p>Location:<span>{{location.name}}</span></p>
    </div>
</li>
{{/each}}